<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Liberty Mupotsa Online Portal</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="/static/style.css">
   <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
<!-- Create a navbar instead of those links -->
</head>
<body id = "top-page">
<!--This is navigation -->
 <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="topnav">
  <div class = "container">
   <a class="navbar-brand js-scroll-trigger"href="#top-page">Liberty Mupotsa</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
    <i class="fa fa-bars"></i>
    <!-- <span class="navbar-toggler-icon"></span> -->
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/templates/about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#resume">resume</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#GITHUB">GITHUB</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
  </div>
 </nav>
 <!-- End of the Navbar -->


 <!-- background image -->
  <header class="bgimage" >
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in">Welcome to my Online Portfolio!</div>
          <div class="intro-heading text-uppercase">It's Nice To Meet You</div>
          <a class ="btn btn-primary btn-xl text-uppercase js-scroll-trigger "href="#about">Tell me more about Liberty Mupotsa</a>
      </div>
    </div>
  </header>
<section class="page-section" id= "about">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="section-heading text-uppercase" style="color: white">About</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <nav id="about_nav">
          <img src="/static/css/download.png"  alt="face" style="width:300px;height:300px;">
        </nav>
        <article>
            <h1>About <strong>Liberty Mupotsa</strong></h1>
          <p>I am a Junior Student Studying Computer Science and <br>
          Mathematics. Software Engineering and Data Science are my areas of interest.
           **This Website is my project which I am still working on<br></p>
        </article>
      </div>

    </div> 
   </div>

</section>
<section class="page-section" id= "GITHUB">
    <div style="padding:5%;background-color:purple">
    <h2 style="color:white">GITHUB LINK</h2>
        <a href=" https://github.com/mupotsal">Liberty Mupotsa Github</a>
  </div>
</section>


<section class = "page-section" id="resume" style="background-color:white;padding:10%" >
  <div>
    <h2> <b>RESUME</b> </h2>
      <p> Download resume<a  href="resume.pdf" >resume</a></p>      
  </div>
</section>



<section class="page-section" id= "portfolio">
    <div style="padding:5%">
    <h2>Portfolio/Projects </h2>

        <h4 style ="color:grey">Simple to do App</h4>
          <strong>LINK to The App</strong>
          <a href="https://github.com/mupotsal/SimpleToDo.git">To DO APP</a>
        <h6>Description</h6>
        <p> This is an android app which I developed <br>
           which serves what a ToDo list serves</p>
           <strong>Functionality</strong>
           <p>One can add an item to the List</p>
           <p>One can delete an item from the list</p>
           <img src="walkthrough.gif">

        <h2>Flixster App</h2>
        <h2>Scrolling through trending Movies</h2>
        <img src="flixter_walkthrough2.gif">

        //This is a test

        <h3>Project 4</h3>
        <h5>Description</h5>
        <p> what doe the app do</p>
  </div>
</section>

<section class="page-section" id= "Contact">
    <div style="padding:5%">
    <h2>Contact</h2>
  </div>
</section>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
