<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Liberty Mupotsa Online Portal</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="/static/style.css">
   <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
<!-- Create a navbar instead of those links -->
</head>
<body id = "top-page">
<!--This is navigation -->
 <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="topnav">
  <div class = "container">
   <a class="navbar-brand js-scroll-trigger"href="#top-page">Liberty Mupotsa</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
    <i class="fa fa-bars"></i>
    <!-- <span class="navbar-toggler-icon"></span> -->
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#portfolio1">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#GITHUB">GITHUB</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#resume">resume</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
  </div>
 </nav>
 <!-- End of the Navbar -->


 <!-- background image -->
  <header class="bgimage"id="about" >
    <div class="container">
      <div class="row">
      <div class="intro-text col-md-7">
        <div class="intro-lead-in">Welcome to my Online Portfolio!</div>
          <div class="intro-heading text-uppercase">It's Nice To Meet You</div>
      </div>
      <div class="col-md-5 text-center" id="firstImage">
        <img class="img-fluid"src="/static/images/portfolioImage.jpg" >
      </div>
    </div>
    <div class="row">
      <div class="col-md-8" style="opacity: 0.7">
        <article id="article1" style="background-color: black;opacity:1;">
          <h3>About Liberty</h3>
          <p>I am a Junior Student Studying Computer Science and Mathematics at Berea College. Software Engineering and Data Science are my areas of interest. When I am not building web and mobile applications, I will be playing table-tennis.
            </article>
           <br></p>
      </div>
    </div>

    </div>
  </header>
<div>
</div>
<h2 id="portfolio1" style="background-color: blue;color: white;width: 100%;text-centered">Projects</h2>
  <section class="page-section" id= "portfolio">
      <div class="row" style="background-color: white">
          <article class="col-md-8"style="width: 100%">
            <h4>Flixster App</h4>
            <h6>Functions</h6>
              <p>
              Flix is an app that allows users to browse movies from the The Movie Database API.
              The App Exposes details of movie (ratings using RatingBar, popularity, and synopsis) in a separate activity.
              The app allows video posts to be played in full-screen using the YouTubePlayerView.
              </p>
              <h6>Tools Used</h6>
              <ul>
                <li>Java</li>
                <li>Android Studio</li>
                <li>Glide</li>
                <li>Android Async HTTP</li>
              </ul>

              <a style="color: blue;" href="https://github.com/mupotsal/Flixster">Github Link to this Project</a>

          </article>
        <div class="col-md-4">
          <div id="imgDiv">
            <img class="animated-gif" src="/static/images/flixter_walkthrough_fin.gif"></img>
          </div>
        </div>
      </div>
        <div id = "divisor">
        </div>
      <div class="row" style="background-color: white">
          <article class="col-md-8"style="width: 100%">
            <h4>smoinstagram</h4>
            <h6>Functions</h6>
              <p>
                User can view the last 20 posts submitted to "Instagram".
                User can pull to refresh the last 20 posts submitted to "Instagram".
                 The user can switch between different tabs - viewing all posts (feed view), capture (camera and photo gallery view) and profile tabs (posts made) using fragments and a Bottom Navigation View.
              </p>
              <h6>Tools Used</h6>
              <ul>
                <li>Java</li>
                <li>Android Studio</li>
                <li>Glide</li>
              </ul>

              <a style="color: blue;" href="https://github.com/mupotsal/smoinstagram">Github Link to this Project</a>

          </article>
        <div class="col-md-4">
          <div id="imgDiv">
            <img class="animated-gif" src="/static/images/final_insta.gif"></img>
          </div>
        </div>
      </div>

      <div id = "divisor">
      </div>

      <div class="row" style="background-color: white">
          <article class="col-md-8"style="width: 100%">
            <h4>Simple to do App</h4>
            <h6>Functions</h6>
              <p>
              This is an android app for keeping a TODO list
              One can add an item to the List
              One can delete an item from the list</p>
              <h6>Tools Used</h6>
              <ul>
                <li>Java</li>
                <li>Android Studio</li>
              </ul>

              <a style="color: blue;" href="https://github.com/mupotsal/SimpleToDo">Github Link to this Project</a>

          </article>
        <div class="col-md-4">
          <div id="imgDiv">
            <img class="animated-gif" src="/static/images/walkthrough.gif"></img>
          </div>
        </div>
      </div>

      <div id = "divisor">
      </div>

      <div class="row" style="background-color: white">
          <article class="col-md-8"style="width: 100%">
            <h4>Productivity App</h4>
            <h6>Functions</h6>
              <p>
                This app lets the user set a certain amount of time in which they wish to work on a specific task without any distractions. While the timer is running, the user's calls and texts will be deferred by the app. Also, while the timer is running, the user will not be allowed to use certain apps. If the user opens any apps that are designated distractions, the user will have to give up a pre-designated amount of money. Before the user starts the timer for their task, the user will have to set aside a certain amount of money that they are willing to give up if they do not complete the task.

                User can register a new account
                user can set a timer

              </p>
              <h6>Tools Used</h6>
              <ul>
                <li>Java</li>
                <li>Android Studio</li>
              </ul>

              <a style="color: blue;" href="https://github.com/Technically-International/Productivity-Well">Github Link to this Project</a>

          </article>
        <div class="col-md-4">
          <div id="imgDiv">
            <img class="animated-gif" src="/static/images/productivity.gif"></img>
          </div>
        </div>
      </div>
   </section>


<section class="page-section" id= "GITHUB">
    <div style="padding:5%">
    <h2> ALL GITHUB PROJECTS </h2>
      <a href=" https://github.com/mupotsal">Liberty Mupotsa Github</a>
  </div>
</section>


<section class = "page-section" id="resume" >
  <div>
    <h2> <b>RESUME</b> </h2>
      <p> Download resume<a  href="/static/images/liberty_mupotsa_resume.pdf" >resume</a></p>
  </div>
</section>
<section class="page-section" id= "Contact">
    <h2>Contact</h2>
    <ul>
      <li>Email : mupotsal@berea.edu</li>
      <li><a href ="https://www.linkedin.com/in/liberty-mupotsa-56b43616b/">LinkedIn</a></li>
    </ul>
  </div>
</section>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
